<div class="row navbar-header">
  <div class="col-6 navbar-header-wrapper">
    <a class="navbar-brand" href="index.html">
      <img class="logo-brand" alt="Brand" src="assets/images/logo.jpg">
    </a>
  </div>
  <div class="col-6 navbar-links">
    <ul class="navbar-right">
      <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#">About Me</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Portfolio</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Resume</a></li>
    </ul>
  </div>
</div>
